body {
    /*     default  =  cookie dough */
    background-color: #cdb79e;
    background-size: fit;
    margin: 0;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcomePhrase {
    font-family: "Fugaz One";
    color: #ffffff;
    margin: 0;
    display: flex;
    text-align: center;
    padding: 1rem;
}

#settingsUI {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    
}
#settingsBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    background-color: rgb(202, 189, 189);
    padding: 1.5rem;
    font-family: 'Arial';
    font-size: 1.8rem;
    border-radius: 0.5rem;
}
#saveSettingsButton {
    font-size: 1.5rem;
    display: flex;
    font-family: 'Arial';
}
#settingsBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#settingsBox input {
    height: 2rem;
    width: 30rem;
    margin: 0.5rem;
}
#settingsButton {
    align-self: flex-start; 
    position: fixed;
    margin: 1rem;
    padding: 0;
}
#settingsButton img {
    height: 2rem;
    width: 2rem;
}

/* widgets*/
.widget {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 2rem;
    
    text-align: center;
    color: whitesmoke;
    font-family: "Text Me One"
}
#weatherWidget{
    font-size: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#weatherLink,
#weatherLink:visited,
#weatherLink:hover,
#weatherLink:active {
  text-decoration: none;
  color: inherit;
}

#fullHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    gap: 1rem;
}

#showTime {
    font-size: 44px;
    margin: 0;
}
#dateWidget p {
    font-size: 1.5rem;
}

#newsWidget {
    font-family: 'Text Me One';
    flex-direction: column;
    gap: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: none;
    width: 70%;
}
#newsWidget h1, #newsWidget p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#newsWidget a {
    text-decoration: none;
    color: #ffff;
}
#newsWidget a:link, #newsWidget a:visited {
    text-decoration: none;
    color: #ffff;
}

#newsSettings {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;

}
/* widgets END */


/*  Hotlink buttons */
.hotlinksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 5px;
    font-size: 1.8rem;
    
}

.hotlinkButton {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
}
.hotlinksContainer a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Fugaz One";
}
.hotlinksContainer a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 5px;
}
.hotlinksContainer a:active {
    color: rgb(177, 174, 174);
    background-color: rgb(53, 50, 50);
    border-radius: 5px;
}

#newsHotlinksContainer {
    display: none;
    align-items: center;
    justify-content: center;    
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
}
#newsToggle {
    font-size: 2rem;
    font-family: "Fugaz One";
    color: #ffffff;

    background-color: #46238C;
    
    border: none;
    border-radius: 0.2rem;

    width: 14rem;
    margin: 1rem;
    padding: 1rem;
}
#newsToggle:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
#hs {color: white;}
#yle {color: #00B5CA;}
#ap {color: white;}
#kl {color: #82B5EA;}
#tt {color: white;}
#yf {color: #483372;}
#bb {color: white;}
#tc {color: #0A8935;}
#gn {color: white;}
#ds {color: #CA3C12;}
#svt {color: #E13A48;}
#bbc {color: #E31E13;}
#ard {color: white;}
/*  Hotlink buttons END */

/* RESPONSIVE LAYOUT */
/*PHONES*/
@media (max-width: 600px) {
  .hotlinksContainer, #newsWidget {
    width: 100%;
    font-size: 1rem;
  }
  #dateWidget {
    margin-top: 1.5rem;
  }
  #welcomePhrase {
    display: none;
  }

}
